@use '../../sass' as *;

.project {
    padding: $pad-y $pad-x;

    > * {
        margin-block-end: 1rem;
    }

    h3 {
        text-transform: capitalize;
        font-size: 2rem;
    }

    p {
        font-size: 1.25rem;
    }

    div {
        display: flex;
        gap: 1rem;

        span {
            border: 1px solid #fff;
            padding: 0.5rem 1rem;
        }
    }

    img {
        width: 100%;
    }

}