@use '../globals' as *;

.button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em 1.5em;
    font-weight: 600;
    @include theme("background", "txt");
    @include theme("color", "bck");
    letter-spacing: 0.05em;
    transition: opacity 0.25s;

    &:hover {
        opacity: 0.9;
    }

}