@use '../../sass' as *;

.contact {
    padding: $pad-y $pad-x;

    .contact__title {
        @include title();
        margin-block-end: 4rem;
    }

    .contact__content {
        display: flex;
        justify-content: space-between;
    }

    .contact__form {
        width: 50%;

        label {
            display: block;
            border-block-end: 1px solid #bebebe;
            font-size: 1.25rem;
            margin-block-end: 2rem;

            input, textarea {
                all: unset;
                width: 100%;
                padding: 1rem 0;
            }

            textarea {
                height: 8rem;
            }
            
        }
        
        button {
            all: unset;
            border: 1px solid #fff;
            padding: 1rem 2rem;
            text-transform: capitalize;
            font-size: 1.25rem;
            cursor: pointer;
        }

    }

    .contact__links {
        width: 30%;

        > * {
            display: flex;
            align-items: center;
            gap: 1em;
            margin-block-end: 1.5rem;
            cursor: pointer;
            
            img {
                width: 1.5rem;
            }
        }
    }

}