@use '../../scss' as *;

.contact {
    padding: 2rem 1rem;
    @include theme('background', 'bck');
    @include theme('color', 'txt');

    @include mq(sm) {
        padding: 2.5rem 2rem;
    }

    @include mq(md) {
        padding: 3rem 4rem;
    }

    @include mq(lg) {
        padding: 4rem 8rem;
    }

    .contact__title {
        margin-block-end: 1.25em;
    }

    .contact__content {
        display: flex;
        flex-flow: column;
        gap: 7.5rem;
        margin-block-end: 5rem;

        @include mq(lg) {
            flex-flow: row;
            justify-content: space-between;
            gap: 0;
        }
    }

    .contact__form {

        @include mq(md) {
            width: 60%;
        }

        @include mq(lg) {
            width: 50%;
        }

        label {
            display: block;
            border-block-end: 1px solid #bebebe;
            margin-block-end: 2rem;

            input, textarea {
                border: none;
                outline: none;
                width: 100%;
                padding: 1rem 0;
                background: none;
                color: inherit;
            }

            textarea {
                height: 8rem;
            }
            
        }

        button {
            display: block;
            margin: auto;

            @include mq(md) {
                margin: 0;
            }

        }

    }

    .contact__links {
        width: fit-content;
        margin: auto;
        
        @include mq(lg) {
            width: 30%;
            margin: 0;
        }

        > * {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-block-end: 1.5rem;
            cursor: pointer;
            font-weight: 500;
            
            img {
                width: clamp(1.25rem, 5vw, 1.75rem);
            }
        
        }

    }

}