@use '../../scss' as *;

.header {
    padding: 1rem;
    @include theme('background', 'bck');
    @include theme('color', 'txt');
    border-width: 0 0 1px 0;
    border-style: solid;
    @include theme('border-color', 'color');
    display: flex;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;

    @include mq(sm) {
        padding-inline: 2rem;
    }

    @include mq(md) {
        padding: 1rem 4rem;
    }

    @include mq(lg) {
        padding: 1rem 8rem;
        justify-content: space-between;
        gap: 0;
    }

    %ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    .menu {

        .menu__btn {
            padding-block-start: 0.25em;
            font-size: 2rem;
            cursor: pointer;
        }

        .menu__content {
            padding: 1rem;
            position: fixed;
            inset: 0;
            background-color: #008080;
            display: flex;
            flex-flow: column;

            .content__btn {
                font-size: 1.5rem;
                cursor: pointer
            }

            ul {
                @extend %ul;
                width: fit-content;
                margin: 2rem auto;
                flex-flow: column;

                li {
                    margin-block-end: 2rem;
                }
            }
        }

        @include mq(lg) {
            display: none;
        }

    }

    .header__logo {
        width: 100%;

        @include mq(lg) {
            width: fit-content;
        }
    }

    .header__nav {
        display: none;

        ul {
            @extend %ul;

            li {
                margin-inline-end: 1rem;
            }
        }

        @include mq(lg) {
            display: initial;
        }
    }

    .header__btns {
        font-size: 1.25rem;
        padding-block-start: 0.25em;

        > * {
            cursor: pointer;
        }
    
    }

}