@use '../../sass' as *;

.home {
    padding: $pad-y $pad-x;

    a {
        text-decoration: none;
    }

    .home__msg {
        position: relative;
        margin-inline-start: 4rem;
        margin-block: 6rem 9rem;
        width: 30%;

        .msg__vertical {
            position: absolute;
            left: -11rem;
            bottom: 6.75rem;
            transform: rotate(270deg);
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
        
        .msg__greeting, .msg__name {
            font-size: $fs-800;
            font-weight: 700;
        }

        div {
            margin-block: 1rem;

            img {
                margin-inline-end: 0.5rem;
                width: 2rem;
                cursor: pointer;
            }
        
        }

        p {
            font-size: $fs-400;
            letter-spacing: 0.025em;
            line-height: 1.25em;
        }

    }

    .home__works {
        margin-block-end: 10rem;

        h3 {
            font-size: $fs-300;
            font-weight: 700;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-block-end: 1rem;
            cursor: pointer;
            margin-block-end: 2rem;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            border-block: 1px solid #aeaeae;
        
            li {
                font-size: $fs-800;
                padding: 2rem 0;
                text-transform: capitalize;

                &:not(:last-child) {
                    border-block-end: 1px solid #aeaeae;
                }

                &:hover {
                    cursor: pointer;
                    color: #dedede;
                }
            }
        }

        button {
            @include button();
            display: block;
            margin: 2rem auto 0;
        }
    
    }

    .home__contact {
        margin-block-end: 5rem;
        width: fit-content;
        margin: 0 auto 5rem;

        h3 {
            font-size: $fs-900;
            font-weight: 500;
            margin-block-end: 2rem;
        }

        .contact__email {
            font-size: $fs-600;
            cursor: pointer;
            margin-block-end: 2rem;
        }

        .contact__btn {
            display: inline-block;
            @include button();
        }

    }

}