@use '../../sass' as *;

.home {
    padding: $pad-y $pad-x;

    a {
        text-decoration: none;
    }

    .home__msg {
        margin-block: 6rem 9rem;
        width: 30%;
        
        h1 {
            font-size: 4rem;
        }

        h3 {
            font-size: 1.5rem;
            font-family: 'roboto mono';
        }

        div {
            margin-block: 1rem;

            img {
                margin-inline-end: 0.5rem;
                width: 2rem;
                cursor: pointer;
            }
        
        }

        p {
            font-size: 1.25rem;
        }

    }

    .home__works {

        h1 {
            font-size: 1.25rem;
            margin-block-end: 1rem;
            cursor: pointer;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        
            li {
                font-size: 3rem;
                padding: 1rem 0;
                text-transform: capitalize;

                &:not(:last-child) {
                    border-block-end: 1px solid #aeaeae;
                }

                &:hover {
                    cursor: pointer;
                    color: #dedede;
                }
            }
        }
    
    }

    .home__contact {
        margin-block: 5rem;

        h1 {
            font-size: 4rem;
            font-weight: 500;
            margin-block: 1rem;
        }

        .contact__email {
            font-size: 1.5rem;
            cursor: pointer;
        }

        .contact__btn {
            display: inline-block;
            margin-block: 1rem;
            padding: 1rem;
            border: 1px solid #fff;
            font-size: 1.25rem;
            cursor: pointer;
        }

    }

}