@use '../../sass' as *;

.footer {
    padding: 1rem $pad-x;
    border-block-start: 1px solid #fff;
    display: flex;
    justify-content: space-between;

    .footer__info {

        .footer__logo {
            font-family: 'roboto mono';
            font-size: 1.75rem;
            font-weight: 900;
            letter-spacing: 0.1em;
            cursor: pointer;
            margin-block-end: 1rem;
        }

        div {
            font-size: 0.9rem;
        }

    }

    .footer__socials {
        font-size: 2rem;

        img {
            width: 2rem;
            cursor: pointer;
            margin-inline-end: 0.5rem;
        }


    }
}