.project {

    .project__img {
        border: 1px solid #fff;
        width: 100%;
        aspect-ratio: 1/0.75;
    }

    .project__name {
        text-transform: capitalize;
        font-size: 1.5rem;
        padding: 1rem 0;
        letter-spacing: 0.05em;
    }

}