$themes: (
    light: (
        bck: #fff,
        bck-op: #0000001a,
        border: #808080,
        txt: #000,
        acc: #f00,
    ),
    dark: (
        bck: #1a1c1d,
        bck-op: #ffffff1a,
        border: #808080,
        txt: #fff,
        acc: #f00,
    )
);